:root {
  --gray900: #111827;
  --gray800: #1f2937;
  --gray700: #374151;
  --gray600: #4b5563;
  --gray500: #6b7280;
  --gray400: #9ca3af;
  --gray200: #e5e7eb;
  --gray100: #f3f4f6;
  --gray50: #f9fafb;
  --blue: #3692ff;
}

/* 컬러파레트 -mdn문서 참고 */

* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  width: 640px;
  margin: 231px auto;
  text-align: center;
}

header {
  width: 369px;
  height: 132px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panda_logo_img {
  width: 103.53px;
  height: 103.88px;
}

.pandamarket_logo {
  width: 266px;
  height: 90px;
  font-family: "ROKAF Sans";
  font-weight: 700;
  font-size: 66.34px;
  line-height: 89.56px;
  text-decoration: none;
  color: var(--blue);
}
/* 여기까지 header 영역  */

.form_area {
  display: flex;
  flex-direction: column;
  width: 640px;
}

.label_text {
  font-family: Pretendard;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700px;
  color: var(--gray800);
}
